.data_container {
  display: flex;
  justify-content: center;
  gap: 200px;
  padding-top: 60px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
label {
  font-size: 20px;
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 30px;
  margin: 0;
}
input {
  width: 400px;
  height: 30px;
}

.button {
  width: 410px;
  height: 40px;
  background-color: black;
  color: white;
  border: none;
}
.button:hover,
.button:focus {
  cursor: pointer;
  background-color: rgb(48, 46, 46);
  text-decoration: underline;
}
a {
  font-size: 30px;
  margin: 0;
  color: black;
}
.navregister {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
