.data_container {
  display: flex;
  padding-top: 60px;
  padding-left: 40px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
label {
  font-size: 20px;
  display: flex;
  flex-direction: column;
}
input {
  width: 400px;
  height: 30px;
}

.button {
  width: 410px;
  height: 40px;
  background-color: black;
  color: white;
  border: none;
}
.button:hover,
.button:focus {
  cursor: pointer;
  background-color: rgb(48, 46, 46);
  text-decoration: underline;
}
.overlay {
  position: fixed;
  top: 120px;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 254, 254, 1);
  z-index: 1200;
}

.modal {
  max-width: calc(100vw - 48px);
  max-height: calc(100vh - 24px);
}
